.control {
    background-color: #027629;
    color: #fff;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.control {
    @media (max-width: $mantine-breakpoint-xs){
        font-size: 20px !important;
    }
}

.control_text {
    @media (max-width: $mantine-breakpoint-xs){
        font-size: 12px !important;
    }
}