@media (max-width: $mantine-breakpoint-sm) {
  .cards_container {
    flex-direction: column !important;    
  }

  .cards {
    width: 100% !important;
  }

  .cards_payment_container {
    height: 210px !important;
    
  }

  .cards_payment_container_v2{
    flex-direction: column;
  }
}
